.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.input-boxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 200px;
    font-size: 18px;
}

.registration-button {
    width: 200px;
    font-size: 18px;
}